x-extension[grid-template] {
    position: fixed;
}
x-tabbox.main-menu {
    height: auto;
    border-bottom: 1px solid rgb(78, 78, 78);
}

x-panel > x-menu {
    display: flex;
    flex-direction: row;
}
x-panel > x-menu > div[panel-resizer] {
    position: absolute;
    right: 10px;
}
    x-panel > x-menu > button[panel-content] {
        padding: 0px;
    }
    x-panel > x-menu > div[panel-resizer] > [icon="maximize"] {
        width: 30px;
        padding: 0px;
    }
#main-menu li {
    width: 100%;
}