x-extension[grid-template] {
    position: fixed;
}
x-tabbox.main-menu {
    min-height: 150px;
    border-bottom: 1px solid rgb(78, 78, 78);
    max-height: 350px;
}

x-panel > x-menu {
    display: flex;
    flex-direction: row;
}
x-panel > x-menu > div[panel-resizer] {
    position: absolute;
    right: 10px;
}
    x-panel > x-menu > button[panel-content] {
        padding: 0px;
        font-size: 0px;
    }
    x-panel > x-menu > div[panel-resizer] > [icon="maximize"] {
        width: 30px;
        padding: 0px;
    }
#main-menu li {
    width: 100%;
}
#main-menu > menu > button[index] {
    height: 50px;
    border-radius: 15px 8px 0px 0px;
}
    #main-menu > menu > button[index][selected] {
        background-color: rgb(205, 205, 205);
        color: darkslateblue;
    }

x-book#main-display {
    margin-left: 1em;
    overflow-y: scroll;
}
    x-book#main-display > x-menu[main-book-menu] {
        background-color: rgb(86, 86, 166);
        top: 0px;
        left: 0px;
        width: 150px;
        height: 100%;
        background-color: rgb(78, 125, 155);
    }
    x-book#main-display > x-page[active] {
        left: 150px;
        width: calc(100% - 165px);
    }
