body {
    opacity: 0;
    animation-name: application-startup;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
x-extension[grid-template] {
    position: fixed;
}
x-tabbox.main-menu {
    border-bottom: 1px solid rgb(78, 78, 78);
    height: 150px;
}

x-panel > x-menu {
    display: flex;
    flex-direction: row;
}
x-panel > x-menu > div[panel-resizer] {
    position: absolute;
    right: 10px;
}
    x-panel > x-menu > button[panel-content] {
        padding: 0px;
        font-size: 0px;
    }
    x-panel > x-menu > div[panel-resizer] > [icon="maximize"] {
        width: 30px;
        padding: 0px;
    }
#main-menu li {
    width: 100%;
}
#main-menu > menu > button[index] {
    height: 50px;
    border-radius: 15px 8px 0px 0px;
}
    #main-menu > menu > button[index][selected] {
        background-color: rgb(205, 205, 205);
        color: darkslateblue;
    }

x-book#main-display {
    position: absolute;
    left: 0px;
    top: 151px;
    display: flex;
    height: calc(100% - 151px);
}
    x-book#main-display > x-menu[main-book-menu] {
        top: 0px;
        left: 0px;
        width: 125px;
        height: 100%;
        background-color: rgb(35, 45, 55);
    }
        x-book#main-display > x-menu[main-book-menu] > div[resizer-menu] {
            display: flex;
        }
            x-book#main-display > x-menu[main-book-menu] > div[resizer-menu] > button {
                width: 33%;
            }
    x-book#main-display > x-page[active] {
        width: calc(100% - 125px);
        height: 100%;
        overflow-y: scroll;
    }
    x-book > x-modal,
    x-book > x-modal + x-modal-overlay {
        display: none;
    }
    x-book > x-modal[active] {
        display: grid;
        position: absolute;
        top: 4%;
        left: 2%;
        width: 96%;
        height: 92%;
        background-color: rgba(65,65,65,.95);
    }
    x-book > x-modal[active] > div {
        color: rgba(235, 235, 249, 1);
        font-family: calibri;
    }
        x-book > x-modal[active] > div > h1 {
            margin-left: 1em;
        }
        x-book > x-modal[active] > div > p {
            margin-left: 2em;
        }
        x-book > x-modal[active] > div > ol {
            list-style: none;
        }
        x-book > x-modal[active] > div > a:visited {
            color: aliceblue;
        }
        x-book > x-modal[active] + x-modal-overlay {
            position: fixed;
            display: block;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(25,25,25,.98);
        }